<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005554732191-lii09ue2r9mlendc66rct2g7i59evuqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005554732191-lii09ue2r9mlendc66rct2g7i59evuqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDGHOUOs0CvNGdnI3HiiQewsDaBvg5B_Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>1005554732191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andresdossantos.learningrockethelprn</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-3214f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-3214f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005554732191:ios:dd7c0085d0a2a37acae6aa</string>
</dict>
</plist>